<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>This is the Sign Up Page</h1>
  <form action="/register" method="post">
    <label>UserName</label>
    <input type="text" name="userName">
    <br>
    <label>Password</label>
    <input type="password" name="password">
    <br>
    <label>Phone Number</label>
    <input type="Number" name="phoneNumber">
    <br>
    <button type="submit">Submit</button>
  </form>
</body>

</html>